<div class="row">
  <div class="col-6">
    <%= form_with(model: task, local: true) do |f| %>
      
       <% if task.errors.any? %>
        <div id="error_explanation" class="alert alert-warning">
          <h2><%= pluralize(task.errors.count, "error") %> prohibited this message from being saved:</h2>
    
          <ul>
            <% task.errors.full_messages.each do |tsk| %>
              <li><%= tsk %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group ">
        <%= f.label :content, 'タスク' %>
        <%= f.text_field :content ,class: 'form-control'%>
      </div>
      <div class="form-group">
        <%= f.label :status, 'ステータス' %>
        <br><%= f.select :status ,['未完了','完了','10字以上でエラーが発生します'] ,class: 'form-control'%></br>
      </div>
    
      <%= f.submit '投稿', class: 'btn btn-primary' %>
    <% end %>
  </div>